/* 
PORJECT NAME: jeopardy 
FILE: style.html
DATE: 
MOD DATE: 
MOD CHANGES: 
MOD LINE: 
VERSION: 0.0.1
PROGRAMER: Charles Matthew Milam Jr
 */

/* style.css */
body {
  font-family: Arial, sans-serif;
  background-image: url('background.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container-content {
  background-color: rgba(255, 255, 255, 0.143);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);  
  border-radius: 10px;
  border: 1px solid whitesmoke;
}


h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

#gamecontainer {
  display: flex;
  flex-direction: column; /* Change to column */
  align-items: center; /* Center content horizontally */
}

#categoryrow {
  display: flex;
  justify-content: space-between;
  width: 1200px; 
  margin-bottom: 10px;
}

.category {
  background-color: #007bff;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  width: calc(100% / 7 - 20px); /* Adjust width */
  margin: 0 5px; /* Adjust margin */
  border-radius: 10px;
}

#clueboard {
  display: flex;
  flex-wrap: wrap;
  width: 1200px; /* Adjust width to fit 7 columns */
  justify-content: space-between; /* Align columns with categories */
}

.clue {
  background-color: #5e78fe;
  border: 1px solid #c9d2ff;
  padding: 10px;
  margin: 5px;
  width: calc(100% / 7 - 20px); /* Adjust width to fit 7 columns */
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.clue:hover {
  background-color: #ddd;
}

.clue.answered {
  background-color: #ccc;
}

#startgame {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4caf50;
  width: 600px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

#startgame:hover {
  background-color: #348838;
}

span {
  font-weight: bold;
  margin-right: 5px;
}
